.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  gap: 5px;
  flex-wrap: wrap;
}

.button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.buttonActive {
  composes: button;
  background-color: #efefef;
}